
<div class="text-white text-center">
    <h1>{{aim}}</h1>
</div>
<div id="div1" class="container w-50 p-3">
    <h1 class="text-center">Login Form</h1>
    <form (ngSubmit)="login()" action="">
        <div class="mt-2 p-2">
            <input name="acno" [(ngModel)]="acno"  class="form-control p-2" type="text" [placeholder]="data" id="acid">
        </div>
        <div class="mt-2 p-2">
            <input name="psw"  [(ngModel)]="psw" class="form-control p-2" type="password" placeholder="Enter Password" id="pid">
        </div>
        <div class="mt-2 p-2 text-center">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
        <div  class="mt-2 p-2 text-center">
            <a routerLink="register">Register here</a>
        </div>
    </form>
</div>
